{% extends "profileGrabber/template.html" %}

    {% block content %}
    <h3>Here are the users that have been saved</h3>


    <!-the one javascript feature -->
    <ul class="collapsible popout" data-collapsible="accordion">


`   <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@realDonaldTrump</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>{{  }}:</b> New York, NY. <b>Following:</b> 42, <b>Followers:</b> 20372728 <b>Influencer:</b><u>YES</u></p>
            <p style="padding-top:0px;"><i>President-elect of the United States</i></p>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@RogueNASA</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>Rogue NASA:</b> Washington, DC. <b>Following:</b> 100, <b>Followers:</b> 626708 <b>Influencer:</b> <u>YES</u></p>
            <p style="padding-top:0px;"><i>The unofficial &quot;Resistance&quot; team of NASA. Not an official NASA account. Not managed by gov&#39;t employees. Come for the facts, stay for the snark.</i></p>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@POTUS</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>President Trump:</b> Washington, D.C.. <b>Following:</b> 6, <b>Followers:</b> 14668353 <b>Influencer:</b> <u>YES</u></p>
            <p style="padding-top:0px;"><i>45th @POTUS @realDonaldTrump. Working on behalf of the American people to make our country great again. Tweets by @Scavino45. Tweets by #POTUS signed -DJT.</i></p>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@elonmusk</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>Elon Musk:</b> 1 AU. <b>Following:</b> 39, <b>Followers:</b> 6950545 <b>Influencer:</b> <u>YES</u></p>
            <p style="padding-top:0px;"><i>Tesla, SpaceX, Tunnels &amp; OpenAI</i></p>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@POTUS44</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>President Obama:</b> Washington, D.C.. <b>Following:</b> 79, <b>Followers:</b> 14927406 <b>Influencer:</b> <u>YES</u></p>
            <p style="padding-top:0px;"><i>This is an archive of an Obama Administration account maintained by the National Archives and Records Administration (NARA).</i></p>
        </div>
    </li>


    <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i><b>@cd_conrad</b></div>
        <div class="collapsible-body">
            <p style="padding-bottom:5px;"><b>Colin Conrad:</b> Halifax, Nova Scotia. <b>Following:</b> 407, <b>Followers:</b> 419 <b>Influencer:</b> <u>NO</u></p>
            <p style="padding-top:0px;"><i>PhD Student @RoweBusiness and @dalfcs who writes about Information Systems, Machine Learning and Human Cognition.</i></p>
        </div>
        </li>


        
 </ul>


    </div>

{% endblock %}