 <!-- The nav div is the navbar. Make sure this is right... seems like the
    links are broken and the color is wrong. You can find the broken links in the
    href="" for each li or the logo -->
    {% extends "profileGrabber/template.html" %}

    {% block content %}
      <h3>Discover users to add to your list</h3>
      <div class="row">
        <form action="" method="post">
          <div class="input-field col m6">
            <label for="twitter_handle">Find a new profile (eg. "potus") </label>
            <input class = "col m6" id="twitter_handle" type="text" name="twitter_handle" maxlength="100" required value="">
            <!-- The button seems messed up. You can figure out some of the
            stuff at http://materializecss.com/. For now, try adding the features
            waves-effect waves-light btn red-->
            <button class="" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
      <!-- We've started a "row" to divide our content up. The columns seem to
      be ill defined-->
      <div class="row">
        <!-- Here's a missing column. Try adding "col m3"-->
        <div class="col m3">
          <h4>{{ profile.name }}</h4>
          <span style="font-weight:bold;">{{ profile.screen_name }}</span>
          <span>{{ profile.location }}</span>
        </div>
        <div class="col m3">
          <h4>Influencer: {{ influencer }}</h4>
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn green" href="#modal1">What's this?</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <!-- The modal is defined here. This is the feature that renders
            when you click the button. Add "modal-content" to the class-->
            <div class="modal-content">
              <h4>Influencers</h4>
              <p>Influencers are people who start trends on Twitter. Typically these users have a large number of followers, and a large number of people actually read what they post. We can create any number of algorithms to determine influencers, but we kept it simple for this tutorial: people with over 500 followers.</p>
            </div>
            <!-- Modal footer is the button that lets you close the modal. This
            seems to be OK -->
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
          </div>
        </div>
        <div class="col m3">
          <!-- A dummy for future code -->
          <h4>Followers: {{ profile.follower_count }}</h4>
          <span style="font-weight:bold;">Following:</span>
          <span>{{ profile.friends_count }}</span>
        </div>
        <div class="col m3">
          <!-- What's this? It's the button we will later use to add a user
          profile to our database. Like the submit form, this is a form that
          will submit data to the server. Let's leave it as is for now. -->
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="push_source" value="Web">
            <input type="hidden" name="push_handle" value="{{ profile.screen_name }}">
            <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
                <i class="material-icons">add</i>
            </button>
          </form>
        </div>
      </div>
      <!-- As before, we start a new row and render a blockquote with the description.
      Blockquotes are rendered a specific way in materialize, and it looks nice. Don't
      change this. -->
      <div class="row">
        <div class="col m12">
          <blockquote>
            <p>{{ profile.description }}<p>
            <footer>{{ profile.screen_name }}<cite title="Source Title"> Profile Summary </cite></footer>
          </blockquote>
        </div>
      </div>

    </div>
    <!-- Materialize has a special footer tag that renders a nice-looking footer.
    This looks fine for now. -->

  {% endblock %}

